// main 

.section {
    @include box;
    padding: 20px;
    @include mq(large) {
        height: 100%;
    }
}

.email-me {
    text-transform: none;
    margin: 30px 0;
}
.phone-me {
    margin: 30px 0;
}

//main layout 

.contact-section {
    @include flexbox;
    padding-bottom: 50px;
    border-bottom: 1px dashed $color-secondary;
}

.contact-item-1 {
    width: 100%;
    @include mq(large) {
        width: 29%;
    }
}

.contact-item-2 {
    width: 100%;
    @include mq(large) {
        width: 69%;
    }
}

// form 

.form {
    @include box;
    @include box-purple;
    @include flexbox;
    @include mq(large) {
        height: 100%;
    }
}

.form-heading {
    margin-bottom: 30px;
}
.name, .email, .subject, .message {
    @include form;
}
 .message {
    resize: none;
    height: 200px;
}

.submit-btn {
    @include heading(1.3rem, 1.6rem);
    background-color: $color-secondary;
    color: $white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    &:hover {
        text-shadow: $white 1px 0 10px;
        box-shadow: 0 0 20px 10px rgba($color: $white, $alpha: .6);
    }
}

//form layout

.row {
    @include mq(large) {
        width: 49%;
    }
}

.row-full {
    @include mq(large) {
        width: 100%;
    }
}

// validation 

.error {
    text-transform: uppercase;
    font-size: .8rem;
    color: red;
    padding-bottom: 10px;
}

.suc-mess {
    padding: 20px 0;
}

.succ {
    color: #24d36e;
}