
// font 
 $font-primary : 'Kanit', sans-serif;

 $font-weight--x-light: 200;
 $font-weight--light  : 300;
 $font-weight--regular: 400;
 $font-weight--bold   : 600;

 //Break points

 $break-sml : 576px;
 $break-med : 768px;
 $break-lrg : 992px;
 $break-xlrg: 1200px;

 //colours

 $color-primary: #5b308b;
 $color-secondary: #291e39;

 $white: #fff;
 $black: #000;
 $grey:  grey;
 $light-purple: #f4ebff;