* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#top {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-weight: $font-weight--regular;
    font-size: 18px;
    letter-spacing: 2px;
    color: $color-primary;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-heading {
    @include heading-small(1rem, 3rem);
    margin-left: 10px;
    color: $white;
    padding: 20px 0;
    text-shadow: rgba($color: $white, $alpha: .5) 1px 0 10px;
    @include mq(medium) {
        @include heading-small(1.5rem, 3rem);
        margin-left: 0;
        text-align: center;
    }
    @include mq(large) {
        @include heading-small(2rem, 4rem);
    }
    @include mq(x-large) {
        @include heading-small(3rem, 4rem);
    }
}
//heading sizing and decoration

.heading {
    @include heading-small(2rem);
    @include mq(large) {
        @include heading(2.4rem);
    }
}

.small-heading {
    @include heading(1.4rem);
    @include mq(large) {
        @include heading(1.7rem);
    } 
}


// content sizing 

.section-heading {
    @include heading-small(1rem);
    text-shadow: rgba($color: $white, $alpha: .5) 1px 0 10px;
    margin-top: 0;
    @include mq(small) {
        @include heading-small(1.2rem);
    }
    @include mq(large) {
        @include heading(1.6rem);
    }
}

.section-heading-two {
    @include heading-small(1rem);
    text-shadow: rgba($color: $white, $alpha: .5) 1px 0 10px;
    margin-top: 0;
    @include mq(small) {
        @include heading-small(1.2rem);
    }
    @include mq(large) {
        @include heading(1.3rem);
    }
}

.section-heading-small{
    @include heading-small(1rem);
    text-shadow: rgba($color: $white, $alpha: .5) 1px 0 10px;
    margin-top: 0;
    @include mq(small) {
        @include heading-small(1rem);
    }
    @include mq(large) {
        @include heading(1.2rem);
    }
}

.section-content {
    @include p(.8rem, 1.4rem);
    font-weight: $font-weight--light;
    @include mq(small) {
        @include p(1rem, 1.4rem);
    }
    @include mq(large) {
        @include p(1rem, 1.4rem, 1px);
    }
    @include mq(x-large) {
        @include p(1rem, 1.6rem, 2px);
    }
}

// Up and Down Links

.section-link {
    margin-top: 5%;
}





